@CHARSET "ISO-8859-1";

body {
}

table {
	width: 600px;
	margin :auto;
}

table tr {
	width: 300px;
	height: 300px;
}

table tr td {
	text-align: center;
	border : 1px solid black;
	font-size : 40pt;
}

.fond_blanc {
	background-color: white;
}

.fond_orange {
	background-color: orange;
}